@font-face {
    font-family: 'Milliard SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Milliard SemiBold'), url('fonts/ReneBiederMilliardSemiBold.woff') format('woff');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}

.body{
    color: black;
}

.faq {
  position: absolute;
  top: auto;
  right: 0;
  
}

.about {
  position: absolute;
  top: auto;
  right: 100px;  
}

ul {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li {
  display: flex;
  margin: 1px;
  padding: 5px;
}

.navbar{
    width: 100%;
    height: 120px;
}

.navbar h2{
    font-size: 4vw;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    margin: 10px 0;
    text-align: center;
    padding: 10px 0px;
}

.navbar h3{
    font-size: 2vw;
    font-family: 'Milliard SemiBold';
    text-align: right;
    display: inline;
    
    padding: 5px;
}

a{
    text-decoration: none;
}

.cyptoDisplay {
    width:100%;
    height:120vh;
    background-color: whitesmoke;
    background-size:cover;
    background-position: center;
    background-image: url("../images/graph.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

td,th{
    background-color: whitesmoke;
}

.bigContainer{
    width: 100%;
    height: 100%;
}

.left{
    float: left;
    width: 25%;
    height: 450px;
}
.right{
    float: right;
    width: 25%;
    height: 450px;
}

.left img{
    padding-top: 2vw;
    margin: auto;
    width: 50%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right img{
    padding-top: 2vw;
    margin: auto;
    width: 50%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left h3{
    font-size: 2.5vw;
    padding-top: 1vw;
    font-weight: normal;
    font-family: 'Milliard SemiBold';
    text-align: center;
}

.right h3{
    font-size: 2.5vw;
    padding-top: 1vw;
    font-weight: normal;
    font-family: 'Milliard SemiBold';
    text-align: center;
}

.left h4{
    font-size: 2vw;
    padding-top: 1vw;
    font-weight: normal;
    font-family: 'Milliard SemiBold';
    text-align: center;
}

.right h4{
    font-size: 2vw;
    padding-top: 1vw;
    font-weight: normal;
    font-family: 'Milliard SemiBold';
    text-align: center;
}

table{
    width: 40%;
    margin-left: 400px;
    text-align: center;
    border-collapse: collapse; 
    border-spacing: 0;
}

td{
    border-color: mediumturquoise;
}

th, td{
    display:table-cell;
    padding: 8px;
    text-align: center;
    font-family: 'Milliard SemiBold';
}
    
tr {
        transition: all .2s ease-in;
        cursor: pointer;
}
    
tr:hover {
        background-color: #f5f5f5;
        transform: scale(1.0);
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

#aboutdata{
    padding: 10px;
    font-size: 1.2vw;
    font-family: 'Milliard SemiBold';
    margin: 10px 0;
    text-align: center;
}